<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe Home</title>
</head>
<body>
    <h2>More Recipes</h2>
    <h1>Form</h1>
    <!--<form action="#" th:action="@{/api/tips/create}" th:object="${SleepTips}" method="post">-->
        <!--<p>Title: <input type="text" th:field="*{title}" /></p>-->
        <!--<p>Description: <input type="text" th:field="*{description}" /></p>-->
        <!--<p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>-->
    <!--</form>-->
</body>
</html>